<?xml version="1.0"?>
<!--
/**
* C3 Media Ltd
*
* @title       Config Setup Helper
* @category    C3
* @package     C3_ConfigSetupHelper
* @author      C3 Development Team <development@c3media.co.uk>
* @copyright   Copyright (c) 2014 C3 Media Ltd (http://www.c3media.co.uk)
*/
-->
<config>
    <modules>
        <C3_ConfigSetupHelper>
            <version>1.1.0</version>
        </C3_ConfigSetupHelper>
    </modules>
    <global>
        <models>
            <c3_configsetuphelper>
                <class>C3_ConfigSetupHelper_Model</class>
            </c3_configsetuphelper>
        </models>
        <helpers>
            <c3_configsetuphelper>
                <class>C3_ConfigSetupHelper_Helper</class>
            </c3_configsetuphelper>
        </helpers>
        <blocks>
            <c3_configsetuphelper>
                <class>C3_ConfigSetupHelper_Blocks</class>
            </c3_configsetuphelper>
            <adminhtml>
                <rewrite>
                    <system_config_form_field>C3_ConfigSetupHelper_Block_System_Config_Form_Field</system_config_form_field>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <C3_ConfigSetupHelper>
                    <files>
                        <default>C3_ConfigSetupHelper.csv</default>
                    </files>
                </C3_ConfigSetupHelper>
            </modules>
        </translate>
        <layout>
            <updates>
                <c3_configsetuphelper>
                    <file>confighelper.xml</file>
                </c3_configsetuphelper>
            </updates>
        </layout>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <c3_configsetuphelper>
                        <type>singleton</type>
                        <class>c3_configsetuphelper/observer</class>
                        <method>showSelectedConfig</method>
                    </c3_configsetuphelper>
                    <c3_configsetuphelper_doc>
                        <type>singleton</type>
                        <class>c3_configsetuphelper/observer</class>
                        <method>saveDocumentation</method>
                    </c3_configsetuphelper_doc>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>
    <default>
        <c3_configsetuphelper>
            <options>
                <enabled>1</enabled>
            </options>
            <documentation>
                <enabled>1</enabled>
            </documentation>
        </c3_configsetuphelper>
    </default>
</config>
