<config>
    <tabs>
        <c3extensions translate="label">
            <label>C3 Extensions</label>
            <sort_order>900</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
        </c3extensions>
    </tabs>
    <sections>
        <c3_configsetuphelper translate="label" module="c3_configsetuphelper">
            <label>Config Setup Helper</label>
            <tab>c3extensions</tab>
            <frontend_type>text</frontend_type>
            <sort_order>600</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <options translate="label">
                    <label>Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Mage_Adminhtml_Model_System_Config_Source_Yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </options>
            </groups>
        </c3_configsetuphelper>
    </sections>
</config>
